/* Settings for generic elements */
body {
    background: white;
    color: black;
    margin-left: 6%;
    margin-right: 6%
}
h1, h2, h3, h4, h5, h6 {margin-left: -4%}

dl, h1, h2, h3, h4, h5, h6, ol, p, table, ul {font-family: sans-serif}
code, pre {font-family: monospace;}
var {
    font-family: sans-serif;
    font-style: italic
}

/* Class-based and attibute-based settings */
div.contents {}
div.float {
    /*background-color: #ffffcc;*/  /* for debugging */
    border-bottom: 1px solid;
    border-top: 1px solid;
    margin-left: auto;
    margin-right: auto;
    width: 88%;
}

dl.compact {}
dl.listoffloats {}

h1.chapter {}
h1.settitle {}
h1.unnumbered {}
h2.section {}
h3.subsection {}
h4.subsubsection {}

hr.small {
    background-color: black;
    color: black;
    height: 1px;
    width: 113%
}
hr.middle {
    background-color: black;
    color: black;
    height: 2px;
    width: 113%
}
hr.big {
    background-color: black;
    color: black;
    height: 4px;
    width: 113%
}

math {display: block}
math[display=inline] {display: inline}
math[display=separate] {
    margin-left: auto;
    margin-right: auto;
    width: 88%;
}

pre.example {}
pre.display {font-family: sans-serif}
pre.menu-comment {
    font-family: sans-serif;
    font-size: 110%;
    font-weight: bold;
    margin-top: 2ex;
}

small.enddots {}

span.option {font-size: 110%}
span.samp {font-size: 110%}

strong {
    font-family: sans-serif;
    font-weight: bold;
}

table.index-cp {}
table.index-op {}
table.index-pg {}
table.menu {}

tt {font-size: 110%}

ul.toc {}
